

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
 /* shared styles */
.light-01{color: rgba(255, 255, 255, 1);}
.display-flex{display: flex;}
.font-sixteen{font-size: 16px;}
.font-fourteen{color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
font-weight: 400;}
.left-align{text-align: left;}
.btn-primary{
  background-color: #E6533C;
  border-color: #E6533C;
  color: rgba(255, 255, 255, 1);
  padding: 5px 10px;
  margin-top: 15px;
  border-radius: 46px;
  text-decoration: none;
  font-size: 18px;
}
 
body{
  background-color: #111111;
}
 /* nav styles */
 nav{ display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 190px;
}
  /* header related styles */
  header{
    background-color: #111111;
  }
 .fitness{
  font-size: 36px;
  font-weight: 800;
  color: rgba(230, 83, 60, 1);
 }
  nav ul li{
  list-style: none;
  margin-right: 47px;
}
nav ul {display: flex;
align-items: center;}

nav li a{
text-decoration: none;
font-size: 18px;
}
.shape{
  font-weight: 500;
}
/* banner related styles */
.banner-container{
  display: flex;
  background-color: #111111;
}
.banner{
  padding-bottom:76px;
  padding-left: 190px;
  padding-right: 90px;
}
.title{
  font-size:78px;
  color:white;
}
.banner-desc{
  font-size: 16px;
  color: white;
  padding-bottom: 28px;
}
.btn-secondary{
  background-color: #E6533C;
  color: rgba(255, 255, 255, 1);
  width: 224px;
  height: 54px;
  border-radius: 42px;
  font-size: 18px;
  margin-right: 14px;
  font-weight: 600;
}
.btn-third{
  background-color:#111111;
  border-color: white;
  color: rgba(255, 255, 255, 1);
  width: 224px;
  height: 54px;
  border-radius: 42px;
  font-size: 18px;
}

/* banner image styles */
.image{margin-left:190px;
margin-bottom: 100px;}

.banner-btn{
  background-color: rgba(48, 48, 48, 0.54);
  border-color: rgba(255, 255, 255, 0.1);
  opacity: calc(20);
  border-radius: 12px;
  margin-top:420px;
  margin-left: -450px;
}
.desc{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 23px;
  margin-left: 60px;
}
 
#number-1{
  color: white;
  font-size: 24px;
  font-weight: 700;
  }
.banner-vid{
  color: rgba(239, 237, 232, 0.65);
  font-size: 16px;
}
.banner-btn-2{
  background-color: rgba(48, 48, 48, 0.54);
  border-color: rgba(255, 255, 255, 0.1);
  opacity: calc(10);
  padding: 10px;
  border-radius: 12px;
  margin-top: 150px;
  margin-left: -120px;
}
#number-2{
  color: white;
  font-size: 40px;
  font-weight: 800;
  padding-top:27px;
  padding-left:24px;
  padding-right:53px;
  padding-bottom: 5px;
}
#free-vid{
  padding-left: 24px;
  padding-bottom:20px;
}
/* habits container styles------ */
.habits-container{
  margin: 0 198px;
}
.habits-desc{
  padding: 58px 190px;
  /* padding-bottom: 58px; */
}
.habit-title{
  color:white ;
  font-size:48px ;
  font-weight: 800;
  text-align: center;
  margin: 0;
}
.habit-para{
  text-align: center;
  padding: 0;
}
.habit-cards{
  display: flex;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
  padding-top: 58px;
}
.habit-img{
  border-radius: 100px;
}
 
.habit-card-title{
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom:0;
}
.habit-card-disc{
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  padding: 0;
  margin: 5px;
}
/* run section styles */
.run-card{
  display: flex;
  gap:165px ;
  background-color: rgba(34, 34, 34, 1);
  margin: 100px 190px;
  border-radius: 18px;
}

.run-title{
  color:white ;
  font-size:48px ;
  font-weight: 800;
  text-align: left;
  margin: 0;
}
.run-img{
  width: 366px;
  height: 312PX;
  border-radius: 18px;
}
.run-disc{
  margin: 41px 54px;
}
.run-img{
  margin: 30px 0;
}
/* BMI STYLES------ */

.BMI-INPUT{
  margin: 50px auto;
}
.BMI-calculator{
  background-color: rgba(34, 34, 34, 1); 
  display: flex;
}
.BMI-title{
  color:white ;
  font-size:48px ;
  font-weight: 800;
  text-align: left;
  margin: 0;
  padding: 0;
}
.BMI-info{
  margin:88px 384px;
}
.BMI-chart{
  margin:52px 175px 133px 189px;
}
.BMI-chart-title{padding-bottom: 20px;}
.BMI-chart-title, .BMI-input-title{
color:white ;
font-size: 28px;

}
table{width:310px;
height: 216px;}

th{
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  padding-left: 18px;
}
td{color: rgba(255, 255, 255, 0.5);
font-size: 14px;
font-weight: 500;
padding-left: 18px;}
table, th, td{
  border:2px solid rgba(255, 255, 255, 0.1);
  border-collapse: collapse;
}
/* INPUT STYLES----- */
.input-1, .input-2{margin-bottom: 12px;}
.input-1{margin-top: 34px;}
.input-styles{
  box-shadow: none;
  width: 283px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 8px;
  font-size: 16px;
 }
.selection{
  box-shadow: none;
  width: 578px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 34px;
}

 

/* responsive layout ----- */

  @media screen and (max-width: 576px) {
    nav ul{
      display: none;
    }
    nav{
      margin:0;
      padding: 0;
     }
    .banner-container, .habit-cards, .run-card, .BMI-calculator {
        display: flex;
        flex-direction: column;
      }
      .banner{
        padding: 0;
        margin: 0;
      }
      
      .image{
        padding: 0;
        margin: 0;
      }
      .blurry{
        display: none;
      }
      .habits-container{
        padding:0;
        margin:0;
      }
      .habits-disc{
        padding: 0;
        margin: 0;
        text-align: center;
      }
     
      .habit-title, .habit-para{
          text-align: center;
          padding: 0;
        }
      .run-card{
        margin: 100px;
        padding: 0;
      }
      .run-title{
        font-size: 32px;
      }
      .run-disc{
       margin-bottom: -150px;
      }
      .run-img{
        width: 80%;
      margin-left: 33px;
      margin-right:36px;
      margin-bottom:30px;
      width: 287px;
      height: 170px;
      }
      .run-card {
       margin: 45px 7px ;
       padding: 0;
      }
      .join-btn{
        width: 280px;
        margin-left: -20px;
        }
      
       .BMI-info{margin: 0;}
       .BMI-chart{margin: 0;}
        .input-styles{
          width: 170px;
        }
        .selection{
          width: 353px;
        }
  }
    

