

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
 /* shared styles */
.light-01{color: rgba(255, 255, 255, 1);}
.display-flex{display: flex;}
.font-sixteen{font-size: 16px;}
.font-fourteen{color: rgba(255, 255, 255, 0.5);
  font-size: 14px;}
.left-align{text-align: left;}
.btn-primary{
  background-color: #E6533C;
  color: rgba(255, 255, 255, 1);
  padding: 5px 10px;
  border-radius: 46px;
  text-decoration: none;
  font-size: 18px;
}
 
body{
  background-color: #111111;
}
 /* nav styles */
 nav{ display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 190px;
}
  /* header related styles */
  header{
    background-color: #111111;
  }
 .fitness{
  font-size: 36px;
  font-weight: 800;
  color: rgba(230, 83, 60, 1);
 }
  nav ul li{
  list-style: none;
  margin-right: 47px;
}
nav ul {display: flex;
align-items: center;}

nav li a{
text-decoration: none;
font-size: 18px;
}
.shape{
  font-weight: 500;
}
/* banner related styles */
.banner-container{
  display: flex;
  background-color: #111111;
}
.banner{
  padding-bottom: 46px;
  padding-left: 190px;
  padding-right: 100px;
}
.title{
  font-size:78px;
  color:white;
}
.banner-desc{
  font-size: 16px;
  color: white;
  padding-bottom: 28px;
}
.btn-secondary{
  background-color: #E6533C;
  color: rgba(255, 255, 255, 1);
  padding: 16px 46px;
  border-radius: 42px;
  font-size: 18px;
  margin-right: 14px;
}
.btn-third{
  background-color:#3F3F3F;
  border-color: white;
  color: rgba(255, 255, 255, 1);
  padding: 16px 46px;
  border-radius: 42px;
  font-size: 18px;
}

/* banner image styles */
.image{margin-left:250px;
margin-bottom: 100px;}

.banner-btn{
  background-color: rgba(48, 48, 48, 0.54);
  border-color: rgba(255, 255, 255, 0.1);
  opacity: calc(20);
  border-radius: 12px;
  margin-top:420px;
  margin-left: -450px;
}
.desc{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 23px;
  margin-left: 60px;
}
#banner-badge{
  padding-left: 75px;
  padding-right: 23px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#number-1{
  color: white;
  font-size: 24px;
  font-weight: 700;
  }
.banner-vid{
  color: rgba(239, 237, 232, 0.65);
  font-size: 16px;
  

}
.banner-btn-2{
  background-color: rgba(48, 48, 48, 0.54);
  border-color: rgba(255, 255, 255, 0.1);
  opacity: calc(10);
  padding: 10px;
  border-radius: 12px;
  margin-top: 150px;
  margin-left: -100px;
}
#number-2{
  color: white;
  font-size: 40px;
  font-weight: 800;
  padding-top:27px;
  padding-left:24px;
  padding-right:53px;
  padding-bottom: 5px;
}
#free-vid{
  padding-left: 24px;
  padding-bottom:20px;
}
/* habits container styles------ */
.habits-container{
  margin: 0 198px;
}
.habits-desc{
  padding: 58px 190px;
  /* padding-bottom: 58px; */
}
.habit-title{
  color:white ;
  font-size:48px ;
  font-weight: 600;
  text-align: center;
  margin: 0;
}
.habit-para{
  text-align: center;
  padding: 0;
}
.habit-cards{
  display: flex;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
  padding-top: 58px;
}
.habit-img{
  border-radius: 100px;
}
 
.habit-card-title{
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom:0;
}
.habit-card-disc{
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  text-align: center;
  padding: 0;
  margin: 5px;
}
/* responsive layout ----- */

/* @media screen and (max-width: 576px) {
  nav ul{
    display: none;
  }
 nav{
  margin:0;
  padding: 0;
 }
  }
  .banner-container{
    display: flex;
    flex-direction: column;
  }
  .banner{
    padding: 0;
    margin: 0;
  }
  .image{
    padding: 0;
    margin: 0;
  }
  .blurry{
    display: none;
  } */
  @media screen and (max-width: 576px) {
    nav ul{
      display: none;
    }
    nav{
      margin:0;
      padding: 0;
     }
    .banner-container {
        display: flex;
        flex-direction: column;
      }
      .banner{
        padding: 0;
        margin: 0;
      }
      .image{
        padding: 0;
        margin: 0;
      }
      .blurry{
        display: none;
      }
      .habits-container{
        padding:0;
        margin:0;
      }
      .habits-disc{
        padding: 0;
        margin: 0;
        text-align: center;
      }
      .habit-cards{
        display: flex;
        flex-direction: column;
      }
      .habit-title, .habit-para{
          text-align: center;
          padding: 0;
      }
  }
    

